version: '3.9'

services:
  web:
    build: .
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py createsuperuser --noinput || true &&
             gunicorn snipbox.wsgi:application --bind 0.0.0.0:8000 --workers 3"
    volumes:
      - .:/app
    ports:
      - '8000:8000'
    environment:
      DJANGO_SUPERUSER_USERNAME: admin
      DJANGO_SUPERUSER_EMAIL: admin@yopmail.com
      DJANGO_SUPERUSER_PASSWORD: admin123

volumes: {}
